body {
    font-family: "Roboto";
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 22px;
    padding-right: 22px;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.header img {
    width: 75px;
}

.header ion-icon {
    width: 45px;
    height: 45px;
}

.chat {
    padding-top: 105px;
    padding-bottom: 105px;
    width: 100%;
    height: 100%;
    background: #F3F3F3;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 22px;
    padding-right: 22px;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.footer input {
    border: none;
    width: 100%;
    height: 50px;
    font-weight: 400;
    font-size: 18px;
}

.footer input::placeholder {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
}

.footer ion-icon {
    width: 26px;
    height: 26px;
}

.footer button {
    border: none;
    background: none;
    min-width: 50px;
    min-height: 50px;
}

.messages {
    width: 100%;
    height: auto;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 12px;
    padding-top: 12px;

    display: flex;
    align-items: center;
    box-sizing: border-box;

    margin-bottom: 4px;

    font-weight: 400;
    font-size: 14px;
}

.messages p {
    line-height: 20px;
}

.messages time {
    color: #AAAAAA;
}

.messages strong {
    font-weight: bold;
}

.status {
    background: #DCDCDC;
}

.message {
    background: #FFFFFF;
}

.private_message {
    background: #FFDEDE;
}